<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matheus Henrique Ribas de Souza</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/matheus-henrique-ribas-de-souza-89709b224/" class="a">Linkedin</a>
            </li>
            <li>
                <a href="https://www.facebook.com/matheus.ribasdesouza" class="a">Facebook</a>
            </li>
            <li>
                <a href="/cad" class="a">Contato</a>
            </li>
        </ul>
    </nav>

<header>
    <div class="img">
        <img src="./img/Insta.jpg" alt="">
    </div>
    <h1>Matheus Henrique Ribas de Souza</h1>
    <h3>Desenvolvedor Front-End Junior</h3>
</header>


<main>
    <section class="sobre">
        <h3>Sobre</h3>
        <p>Tenho 19 anos, Atualmente cursando Programador Front End (Apex Ensino), tenho como objetivo interessar no mercado da programação e juntamente, tornar um desenvolvedor front-end e back-end, atualmente me vejo como, um rapaz Alegre, que vibra com novas conquistas e com fome de aprendizado,.</p>
    </section>
    <section>
        <h3>Formação</h3>
        <h5>Ensino Médio - Completo;</h5>
        <h5>Cursando Desenvolvimento - Front-End;</h5>
    </section>
    <section>
        <h3>Projetos</h3>
        <p></p>
    </section>
</main>
</body>
</html>